<div class="homepage">
  <% if !user_signed_in? %>
    <div class="panel">
      <h1>Fitness Challenge Tracker by BitsPlease</h1>
      <h2>Welcome to the best fitness challenge tracker ever!</h2>
      <%= link_to "Sign Up Now!", new_user_registration_path, class: "button large round", id:"signup-button" %>
    </div>
  <% else %>
    <h3>Logged in as <strong><%= current_user.email %></strong></h3>
  <% end %>
</div>
