<div class="homepage">
  <div class="panel">
    <h1>Fitness Challenge Tracker by BitsPlease</h1>
    <h2>Welcome to the best fitness challenge tracker ever!</h2>
    <%= link_to "Sign Up Now!", signup_path, class: "button large round" %>
  </div>
</div>
