<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "BitsPlease Fitness Tracker", "home/index" %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Log in", login_path %></li>
    </ul>
  </section>
</nav>
